/* variables*/
	:root {
  --btn-color : rgba(247,229,69);
  --black-color: rgb(0,0,0);
  --yellow-color: #ffef00;
  --red-color:#fd0130;
}
/*global style*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: BlenderProBook,sans-serif;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--black-color);
	height: 100vh;
}
h1{
	font-size: 72px;
	font-weight: 100;
	text-align: center;
	letter-spacing: 0.05em;
}
h2{
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.05em;
	margin: 10px;
}
section{
	overflow: hidden;
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;

}
button{
	border:none;
	outline: none;
	cursor: pointer;
}
nav ul{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
	list-style-type: none;
	padding: 20px;
}
nav ul li{
	color:var(--yellow-color);
	padding: 0 20px;
}
header{
	display: grid;
	grid-template-columns: 50%;
}

.welcome_box{
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	grid-template-columns: 1fr 1fr;
}
.welcome_box_text{
	position: relative;
	padding: 15px;
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../img/first_bg.jpg");
	background-repeat: no-repeat;
	background-size:cover;
  	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
    border-bottom:2px solid yellow;
    border-right:2px solid yellow;
    border-left: 5px double yellow;
    border-top: 3px double yellow;
}
.welcome_box_text:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-bottom:44px solid yellow;
  border-left:44px solid transparent;
  width: 0;
}
.welcome_box_text button:hover{
	background-color: var(--red-color);
	transition: all .3s;
}
.welcome_box_text__border{

	position: absolute;
	height: 100%;
	width: 100%;
	top:5px;
	left: 5px;
  	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
    border: 1px solid yellow;
}
.preson{
	overflow: hidden;
}
.person_img{
	width: 75%;
	animation: img_glitch 7s linear infinite alternate
}
.section_title{
	color:var(--yellow-color);
	font-weight: bold;
    font-size: 4vw;
	margin-bottom: 5%;
}
.btn{
	position: relative;
	padding: 20px 30px;
	font-size: 2vw;
	background-color: var(--yellow-color);
	font-family: BlenderProBold,sans-serif;
}
.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 15px solid black;
  border-right:  15px solid transparent;
  width: 0;
}
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 15px solid black;
  border-left:  15px solid transparent;
  width: 0;
}
.welcome_box_info{
	color:white;
	margin: 25px 5px 55px 5px;
}

.line_bettwen{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: url(https://www.cyberpunk.net/build/images/home/razor-bottom-black-12f7b143.svg);
    background-position: top;

}
.about{
	background-color: var(--yellow-color);
	position: relative;
}
.about main{
	background-color: var(--yellow-color);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
    z-index: 99999;
}
.about_heading{
		grid-column: 1 / -1;
}
.about_heading h1{
	font-size: 70px;
    font-family: BlenderProBold,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.about_img{
	grid-column: 1 / span 3;

}
.about_img img{
	width: 60%;
/*	box-shadow:inset 0px 0px 0px 10px red;
	-webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;*/
}
.about_text{
		grid-column: 4 / 9;
}
.about_text p{
		text-align: justify;
		padding: 0 20px;
}
.box_info__button{
	display: flex;
	align-items: center;
}
.box_info__button svg{
	margin-left: 5px;

}
.projects_heading{
	padding: 10px;
}

.skills_heading, .projects_heading {
	color:var(--yellow-color);
}

.skills_list{
	color:white;
	margin:5%;
}
.skills_list ul{
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
}
.technology_item{
	display: grid;
	justify-content: center;
}
.technology_item svg{
	padding-bottom: 10px;
	width: 4em;
	height: 4em;
}
.project_list{
	grid-gap: 1%;
		display: grid;
	grid-template-columns: repeat(3, 1fr)
}
.project_item{
	border:1px solid var(--yellow-color);
	position: relative;
}
.project_item:hover > .project_item_img img{
	transition: all .2s;
	opacity: .4;
}
.project_item_img{
	position: relative;
}
.project_item_img img{
	width: 100%;
}
.project_item_img img:nth-child(2){
	width: 48px;
}
.item_img{
	width: 48px;
}
.project_item_box1{
	position: absolute;
	width: 20px;
	height: 30%;
	background-color: var(--yellow-color);
	top:0;
	left: 0;
	z-index:9999;
	border-bottom-right-radius: 1px;
}
.project_item_box2{
	position: absolute;
	width: 10px;
	height: 40px;
	background-color: var(--yellow-color);
	bottom:0;
	right: 0;
	z-index:9999;
	border-bottom-right-radius: 1px;
}
.project_item_box3{
	position: absolute;
	width: 20%;
	height: 25px;
	background-color: var(--yellow-color);
	top:0;
	right: 0;
	z-index:9999;
	border-bottom-right-radius: 1px;
}
footer{
	background-color: var(--yellow-color);
	text-align: center;
}
.contact{
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 1%;
}
.socialmedia{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-items: center;
}
.l-about__feature-zoom {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 24px);
    opacity: 0;
    width: 48px;
}

.l-about__feature-img, .l-about__feature-zoom {
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
/* ICONS */
.l-footer__social-item {
    list-style: none;
    margin: 0;
        margin-right: 0px;
    padding: 0;
    display: -webkit-box;
    display: flex;
}
.l-footer__social-item .icon-instagram {
    background-image: url(../img/icons/icon-social-instargam-e5672d1b.svg);
}
.l-footer__social-item .icon-youtube {
    background-image: url(../img/icons/icon-youtube-fe03dcbc.svg);
}
.l-footer__social-item .icon-facebook {
    background-image: url(../img/icons/icon-facebook-bd939719.svg);
}
.l-footer__social-item .icon-twitch {
    background-image: url(../img/icons/icon-social-twitch-cd4ac500.svg);
}
.l-footer__social-item .icon-twitter {
    background-image: url(../img/icons/icon-twitter-defe5f7b.svg);
}
.l-footer__social-item .icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 25px;
    height: 25px;
}



li{
	cursor: pointer;
}
.top_naivgation li:hover{
	animation: li_glitch 0.9s linear infinite alternate
}


/*RWD*/

@media (max-width: 1110px) {
	header {
		grid-template-columns: 1fr;
	}
	.welcome_box{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr:
	}
	.about_img, .about_text {
		grid-column:1 / -1 ;
	}
	.project_list{
		grid-template-columns: 1fr;
	}
}

/*Animations*/

@keyframes li_glitch {
	0% {
		text-decoration-line: line-through;
		text-decoration-color: aqua;

	 }
	15% {
		text-decoration-line: overline;
		text-decoration-color: #4e865c;
		text-transform: uppercase;

	}
	25% {
		text-decoration-line: line-through;
		text-decoration-color: red;
	}
	45% {
		text-decoration-line: underline;
		text-decoration-color: #4e865c
		text-decoration-style: double;
	}
	77% {
		text-decoration-line: line-through;
		text-decoration-color: white;
			-webkit-text-stroke: thick;
	}
	91% {
		text-decoration-line: underline;
		text-decoration-color: #861773;
		-webkit-text-security: square;
	}
	92% {
		text-decoration-line: underline;
		text-decoration-color: #861773;
		color:transparent;
	}
	95% {
		text-decoration-color: #ff6a00
	}
	99% {
		text-decoration-color: blue;
		white-space: pre-wrap;
		transform: rotateX(45deg);
	}
}

@keyframes img_glitch {
	44% {
		filter: brightness(0.5);
		filter: grayscale(1);
		filter: hue-rotate(45deg);
		filter: sepia(1);
	 }
	45% {
	 	filter: none;
	 }
	 47% {
		filter: sepia(1);
	 }
	 51% {

		filter: hue-rotate(45deg);
		filter: sepia(1);
	 }
	 52% {
		filter: brightness(0.5);
		filter: grayscale(1);
	 }
	 66% {

		filter: grayscale(1);
		filter: sepia(1);
	 }
	 71% {

		filter: hue-rotate(45deg);
		filter: sepia(1);
	 }
	77%{
		filter: brightness(0.5);
		filter: grayscale(1);

	 }
	 100% {
		filter: brightness(0.5);
		filter: hue-rotate(45deg);
	

}